swagger: '2.0'
info:
  title: uCat REST API
  description: Автоматизируйте ваши процессы с помощью API
  version: 1.0.0
host: client.ucat.com.ua
schemes:
  - https
basePath: /api-sync/v1
produces:
  - application/json
paths:
  /manufacturers:
    get:
      summary: 1. Список поставщиков
      description: >
        Работает без подписки. Выводить поставщиков зарегистрированных в
        каталоге.
      parameters:
        - name: authKey
          in: query
          description: ключ авторизации
          required: true
          type: string
      tags:
        - Поставщики
      responses:
        '200':
          description: Массив поставщиков
          schema:
            type: array
            items:
              $ref: '#/definitions/Manufacturer'
        '404':
          description: Не найдены доступные поставщики
          schema:
            $ref: '#/definitions/Error'
  '/manufacturers/{gln}/products':
    get:
      summary: 2. Продукты одного Поставщика
      description: >
        Запрос возвращает массив штрихкодов указаного поставщика, которые
        доступны тому, кто делает запрос
      produces:
        - application/json
      parameters:
        - name: gln
          in: path
          description: GLN - номер поставщика
          required: true
          type: integer
          format: int64
        - name: authKey
          in: query
          description: ключ авторизации
          required: true
          type: string
      tags:
        - Продукты
      responses:
        '200':
          description: 'Массив штриходов, которые поставщик публикует в каталоге'
          schema:
            type: array
            items:
              $ref: '#/definitions/GLN'
        '404':
          description: Не найдены товары у поставщика
          schema:
            $ref: '#/definitions/Error'
  '/manufacturers/{GLN}/products/{GTIN}':
    get:
      summary: 3. Подробная информация о товаре
      description: |
        Запрос возвращает иерахическое описание единицы продукции и ее упаковок
      produces:
        - application/json
      parameters:
        - name: GLN
          in: path
          description: GLN - номер поставщика
          required: true
          type: integer
          format: int64
        - name: GTIN
          in: path
          description: GTIN - штрихкод товара
          required: true
          type: integer
          format: int64
        - name: fields
          in: query
          description: >
            параметр принимает список полей, через запятую, которые должны
            возвратиться в json-объекте товара. Всегда обязательным будет поле
            ChildGTIN, по которому строится иерархия.
          required: true
          type: string
        - name: authKey
          in: query
          description: ключ авторизации
          required: true
          type: string
      tags:
        - Продукты
      responses:
        '200':
          description: Иерахический объект одного продукта
          schema:
            $ref: '#/definitions/Product'
        '400':
          description: Not all parameters passed (Не все параметры переданы)
          schema:
            $ref: '#/definitions/Error'
        '403':
          description: >-
            This product was not published for your company (Товар не
            опубликован на вашу компанию)
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Продукт не найден или не опубликован
          schema:
            $ref: '#/definitions/NotFoundError'
  '/manufacturers/{GLN}/products/{GTIN}/images':
    get:
      summary: 4. Изображения одного товара
      description: |
        Запрос возвращает массив изображений в различном разрешении
      produces:
        - application/json
      parameters:
        - name: GLN
          in: path
          description: GLN - номер поставщика
          required: true
          type: integer
          format: int64
        - name: GTIN
          in: path
          description: GTIN - штрихкод товара
          required: true
          type: integer
          format: int64
        - name: authKey
          in: query
          description: ключ авторизации
          required: true
          type: string
      tags:
        - Изображения
      responses:
        '200':
          description: 'Объект с изображениями, которые пренадлежать продукту'
          schema:
            $ref: '#/definitions/ProductImage'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/NotFoundError'
  /response:
    post:
      description: >
        Для того, что-бы поставщики, знали статус обработки товаров торговой
        сетью, нужно передать этот статус в каталог, после того, как торговая
        сеть получает информацию о товаре.
      operationId: catalog_item_confirmation
      summary: 5. Передать статус обработки товара торговой сетью
      parameters:
        - name: catalog_item_confirmation_data
          in: body
          required: true
          schema:
            $ref: '#/definitions/CIC'
        - name: authKey
          in: query
          description: ключ авторизации
          required: true
          type: string
      tags:
        - Ответ от торговой сети
      responses:
        '201':
          description: 'Положительный ответ, означает что ответ записан в базу данных'
  '/products/{GTIN}/search':
    get:
      summary: 6. Поиск товарной позиции по штрихкоду товара
      description: >
        Пользователи REST API имеют возможность искать товар по штрихкоду, среди
        тех, к которым у них есть доступ
      produces:
        - application/json
      parameters:
        - name: GTIN
          in: path
          description: штрихкод товара который нужно найти
          required: true
          type: integer
        - name: authKey
          in: query
          description: ключ авторизации
          required: true
          type: string
      tags:
        - Продукты
      responses:
        '200':
          description: >-
            Массив найденных продуктов. Товаров может быть несколько, если один
            и тот же товар поставляют разные дистрибьюторы
          schema:
            $ref: '#/definitions/Product'
        '400':
          description: >-
            Не все параметры переданы / передан недоступный запрос / You have
            not got data on this product
          schema:
            $ref: '#/definitions/Error'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/NotFoundError'
  /upload-sku:
    post:
      summary: 7. Импорт артикулов торговой сети в базу uCat
      description: >
        Торговая сеть имеет возможность загрузить в каталог внутриние артикулы
        товаров и привязать их к штрихкодам в базе. Для загрузки нужно передать
        в каталог CSV файл в специальном формате с данными.
      produces:
        - application/json
      parameters:
        - name: authKey
          in: query
          description: ключ авторизации
          required: true
          type: string
      tags:
        - Загрузка SKU
      responses:
        '200':
          description: Ответ все хорошо
          schema:
            $ref: '#/definitions/UploadSKUOk'
        '400':
          description: Unexpected error
          schema:
            $ref: '#/definitions/UploadSKUOk'
  /last-changed-gtins:
    get:
      summary: 8. Список изменившихся товаров
      description: >
        Данный запрос используется для того, чтобы ритейлер не проверял каждый
        раз все товары и не сравнивал их текущие значения со старыми значениями
        добавлен запрос к API который показывает список штрих-кодов, которые
        добавились или изменились за время, прошедшее с того момента, когда
        ритейлера забирал данные последний раз.
      produces:
        - application/json
      parameters:
        - name: authKey
          in: query
          description: ключ авторизации
          required: true
          type: string
        - name: onlyApiDistribution
          in: query
          description: 'Запрос на товары, полученные только по API'
          type: string
          default: false
          required: false
      tags:
        - Продукты
      responses:
        '200':
          description: Массив изменившихся товаров по постоавщикм
          schema:
            $ref: '#/definitions/ChangedGTINs'
        '304':
          description: Если нет новых и измененных товаров - код ответа 304 Not Modified
          schema:
            $ref: '#/definitions/Error'
  /get-count-suscribe-product:
    get:
      summary: 9. Количество подписок
      description: Запрос возвращает количество оформленных подписок в каталоге
      produces:
        - application/json
      parameters:
        - name: authKey
          in: query
          description: ключ авторизации
          required: true
          type: string
      tags:
        - Подписки
      responses:
        '200':
          description: Объект с количеством различных подписок
          schema:
            $ref: '#/definitions/Subscriptions'
  /get-subscribe-product-gtin:
    get:
      summary: >-
        10. Список доступных GTIN базовых единиц на которые была оформлена
        подписка
      description: >-
        Запрос возвращает все доступные штрихкоды из каталога для Торговой Сети
        по подписке
      produces:
        - application/json
      parameters:
        - name: authKey
          in: query
          description: ключ авторизации
          required: true
          type: string
      tags:
        - Продукты
      responses:
        '200':
          description: Массив штрихкодов доступных для торговой сети
          schema:
            $ref: '#/definitions/GTIN'
        '404':
          description: >-
            Если у торговой сети не оформленно ни одной подписки возвращается
            объект ошибки
          schema:
            $ref: '#/definitions/NotFoundError'
  '/handbook/search/{CODE}':
    get:
      summary: 11. Расшифровка значения справочника
      description: >-
        Передавая код любого справочника, можно получить название справочника и
        расшифровку значения
      produces:
        - application/json
      parameters:
        - name: CODE
          in: path
          description: 'Код справочников, которые возвращаются в значении по товару'
          required: true
          type: string
        - name: authKey
          in: query
          description: ключ авторизации
          required: true
          type: string
      tags:
        - Справочники
      responses:
        '200':
          description: Объект одной записи из справочников
          schema:
            $ref: '#/definitions/HandbookItem'
        '404':
          description: Не найден справочник
          schema:
            $ref: '#/definitions/NotFoundError'
  '/images/{GTIN}':
    get:
      summary: 12. Изображения одного товара
      description: Запрос возвращает массив изобржений в различных разрешениях
      produces:
        - application/json
      parameters:
        - name: GTIN
          in: path
          description: GTIN(штрихкод) товара
          type: string
          required: true
        - name: authKey
          in: query
          description: Ключ авторизации
          required: true
          type: string
      tags:
        - Изображения
      responses:
        '200':
          description: Массив изображений товара в разных разрешениях
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductImage'
        '404':
          description: >-
            Product or its images not found (Товар или его изображения не
            найдены)
          schema:
            $ref: '#/definitions/NotFoundError'
  /manufacturer-activity:
    get:
      summary: 13. Информация об активности поставщика
      description: Запрос возвращает информацию про поставщика по ОКПО
      produces:
        - application/json
      parameters:
        - name: id
          in: query
          description: ОКПО поставщика
          type: integer
          required: true
        - name: authKey
          in: query
          description: Ключ авторизации
          required: true
          type: string
      tags:
        - Поставщики
      responses:
        '200':
          description: >-
            Object with information about client activity (Объект с информацией
            об активности поставщика)
          schema:
            $ref: '#/definitions/ClientActivityStatus'
        '400':
          description: Invalid parameter value (Неправильные параметры запроса)
          schema:
            $ref: '#/definitions/ErrorV2'
        '403':
          description: Data is not available (Информация недоступна)
          schema:
            $ref: '#/definitions/ErrorV2'
        '404':
          description: Data not found (Информация не найдена)
          schema:
            $ref: '#/definitions/ErrorV2'
  /manufacturers-activity:
    get:
      summary: 14. Информация об активности поставщиков
      description: Запрос возвращает информацию про поставщиков с постраничной навигацией
      produces:
        - application/json
      parameters:
        - name: page
          in: query
          description: Номер страницы
          type: integer
          required: true
        - name: authKey
          in: query
          description: Ключ авторизации
          required: true
          type: string
      tags:
        - Поставщики
      responses:
        '200':
          description: OK
          schema:
            type: object
            properties:
              items:
                type: array
                items:
                  $ref: '#/definitions/ClientActivityStatus'
              _links:
                type: object
                description: >-
                  Object with links to navigate in available data (Объект с
                  ссылками для навигации)
                properties:
                  self:
                    type: string
                    format: link
                    description: Link to current page (Ссылка на текущую страницу)
                  next:
                    type: string
                    format: link
                    description: Link to next page (Ссылка на следующую страницу)
                  last:
                    type: string
                    format: link
                    description: Link to last page (Ссылка на последнюю страницу)
              _meta:
                type: object
                description: Meta data
                properties:
                  totalCount:
                    type: integer
                    format: int16
                    description: >-
                      Total count of ClientActivityStatus (Суммарное количество
                      ClientActivityStatus)
                  pageCount:
                    type: integer
                    format: int16
                    description: Total count of pages (Суммарное количество страниц)
                  currentPage:
                    type: integer
                    format: int16
                    description: Number of current page (Номер текущей страницы)
                  perPage:
                    type: integer
                    format: int16
                    description: >-
                      Amount of ClientActivityStatus per page (Количество
                      записей на 1 страницу)
        '400':
          description: Неверны параметры запроса (Invalid request parameters)
          schema:
            $ref: '#/definitions/ErrorV2'
        '403':
          description: Информация недоступна (Data is not available)
          schema:
            $ref: '#/definitions/ErrorV2'
        '404':
          description: Информация не найдена (Data is not found)
          schema:
            $ref: '#/definitions/ErrorV2'
  '/products/{GTIN}/certificates':
    get:
      summary: 15. Информация о сертификатах продукта по штрих-коду
      description: Запрос возвращает информацию о сертификатах продукта
      produces:
        - application/json
      parameters:
        - name: GTIN
          in: path
          description: GTIN(штрихкод) товара
          type: string
          required: true
        - name: authKey
          in: query
          description: Ключ авторизации
          required: true
          type: string
      tags:
        - Сертификаты
      responses:
        '200':
          description: Массив обьектов или пустой массив (у товара нету сертификатов)
          schema:
            type: array
            items:
              type: object
              properties:
                gtin:
                  type: string
                informationProviderGln:
                  type: string
                  description: GLN поставщика
                brandName:
                  type: string
                  description: Название бренда
                description:
                  type: string
                  description: Описание
                certificateType:
                  type: string
                  description: Текстовое описание типа сертификата
                activeTillDate:
                  type: string
                  description: Дата окончания действия сертификата
                certificateNumber:
                  type: string
                  description: Номер сертификата
                sku:
                  type: string
                  description: Артикул товара
                files:
                  description: Массив ссылок на файлы сертификата
                  type: array
                  items:
                    type: string
        '404':
          description: Товар не найден
          schema:
            $ref: '#/definitions/Error'
  '/images-by-id/{ucatID}':
    get:
      summary: 16. Изображения одного товара по уникальному идентификатору (ucatID)
      description: Информация о доступных изображениях товара в разных разрешениях
      produces:
        - application/json
      parameters:
        - name: ucatID
          in: path
          description: ucatID(идентификатор) товара
          type: string
          required: true
        - name: authKey
          in: query
          description: Ключ авторизации
          required: true
          type: string
      tags:
        - Изображения
      responses:
        '200':
          description: Массив изображений товара в разных разрешениях
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductImage'
        '404':
          description: >-
            Product or its images not found (Товар или его изображения не
            найдены)
          schema:
            $ref: '#/definitions/NotFoundError'
definitions:
  GTIN:
    type: integer
    description: >-
      GTIN - это штрихкодо товара, валидный по стандартам GS1 может иметь от 8
      до 14 символов в длину
  HandbookItem:
    type: object
    properties:
      hanbookName:
        type: string
        description: 'Название справочника, которому пренадлежит значение'
      codeValue:
        type: string
        description: Код справочника
      nameUk:
        type: string
        description: Название значения на украинском языке
      nameRu:
        type: string
        description: Название значения на русском языке
      nameEn:
        type: string
        description: Название значения на английском языке
  NotFoundError:
    type: object
    properties:
      code:
        type: string
        description: code and title of error
      error:
        type: string
        description: text of the error
  Subscriptions:
    type: object
    properties:
      countSubscribeToMarket:
        type: integer
        description: Кол-во подписок на торговые рынки (страны)
      countSubscribeToProvider:
        type: integer
        description: Кол-во подписок на поставщиков
      countSubscribeToGTIN:
        type: integer
        description: Кол-во оформленных подписок на штрихкоды
      countSubscribeProduct:
        type: integer
        description: >-
          Кол-во доступных базовых единиц, суммирует штрихкоды по всем видам
          подписок
  ChangedGTINs:
    type: object
    properties:
      GLN:
        type: integer
        description: GLN номер поставщика товаров
      nameUk:
        type: string
        description: Название поставщика на украинском языке
      OKPO:
        type: integer
        description: ЕДРПОУ номер поставщика
      changedGTINs:
        type: array
        items:
          type: string
          description: >-
            Массив содержит список изменившихся штрихкодов с того времени, когда
            торговая сеть последний раз забирала обновлениея по товару
      newGTINs:
        type: array
        items:
          type: string
          description: 'Массив новых штрихкодов, которые торговая сеть ни разу не получала'
  UploadSKUOk:
    type: object
    properties:
      success:
        type: string
        description: true/false
      message:
        type: string
        description: Описание ответа
  GLN:
    type: object
  Manufacturer:
    type: object
    properties:
      name:
        type: string
        description: Название компании поставщика
      OKPO:
        type: string
        description: >-
          ЄДРПОУ - номер Єдиного Державного реєстру підриємців та організацій
          України.
      primaryGLN:
        type: string
        description: >-
          Основной GLN номер компании
          http://gs1ua.org/ua/gs1-system/identifikatsiya-ta-shtrihove-koduvannya/gln
  CIC:
    description: Параметры для передачи статуса товара
    properties:
      providerGLN:
        type: string
        description: 'GLN торговой сети, которая передает статус по товару'
      GTIN:
        type: string
        description: штрихкод товара
      versionProduct:
        type: integer
        description: >-
          версия товара которую обработала торговая сеть, берется из информации
          о товаре
      description:
        type: string
        description: 'необязательный параметр, используется для описании ошибки.'
      status:
        type: string
        description: >
          Название передается на английском языке из следующего списка
          [ACCEPTED, SYNCHROMIZED, REVIEW, REJECT].

          ACCEPTED (ПОЛУЧЕНО) – информация о товаре получена торговой сетью, и
          рассматривается возможность внесения данной информации во внутреннюю
          систему учета

          SYNCHRONIZED (ПОДТВЕРЖДЕНО) – информация о товаре получена торговой
          сетью и добавлена в их внутреннюю систему учета.

          REVIEW (НА РАССМОТРЕНИИ, второе значение “Обнаружена ошибка”)- в
          информации о товаре обнаружена ошибка, товар не загружен во внутреннюю
          систему учета.

          REJECT (ОТКЛОНЕНО) – торговая сеть не хочет получать информацию или
          обновления по данному товару
  Product:
    type: object
    properties:
      ucatID:
        type: integer
        description: Идентификатор uCat
      GTIN:
        type: string
        description: Штрих-код (EAN)
      BarCodeType:
        type: string
        description: Тип штрих-кода
      ReplacedTradeItemIdentification:
        type: string
        description: 'Штрих-код, который использовался ранее для этого товара'
      InformationProviderGLN:
        type: string
        description: GLN поставщика
      InternalSupplierCode:
        type: string
        description: 'Внутренний код/SKU товара, присвоенный производителем'
      BrandId:
        type: string
        description: >-
          ID-номер, фирменное наименование товара (популярная, легко-узнаваемая
          и юридически защищённая символика товара)
      BrandName:
        type: string
        description: Торговая марка/Бренд (Original)
      ShortBrandName:
        type: string
        description: Фирменное наименование товара в краткой форме
      LanguageSpecificBrandNameRu:
        type: string
        description: Торговая марка/Бренд (Ru)
      LanguageSpecificBrandNameUk:
        type: string
        description: Торговая марка/Бренд (Uk)
      LanguageSpecificBrandNameEn:
        type: string
        description: Торговая марка/Бренд (En)
      SubBrandId:
        type: string
        description: 'ID-номер, торговая марка более низкого уровня'
      SubBrand:
        type: string
        description: Торговая марка более низкого уровня/Саббренд
      LanguageSpecificShortBrandNameRu:
        type: string
        description: Бренд в краткой форме (Ru)
      LanguageSpecificShortBrandNameUk:
        type: string
        description: Бренд в краткой форме (Uk)
      LanguageSpecificShortBrandNameEn:
        type: string
        description: Бренд в краткой форме (En)
      DescriptionTextRu:
        type: string
        description: Полное наименование (Ru)
      DescriptionTextUk:
        type: string
        description: Полное наименование (Uk)
      DescriptionTextEn:
        type: string
        description: Полное наименование (En)
      ShortDescriptionTextRu:
        type: string
        description: Наименование товара в краткой форме (Ru)
      ShortDescriptionTextUk:
        type: string
        description: Наименование товара в краткой форме (Uk)
      ShortDescriptionTextEn:
        type: string
        description: Наименование товара в краткой форме (En)
      OriginalDescriptionRu:
        type: string
        description: Название согласно технической документации (Ru)
      OriginalDescriptionUk:
        type: string
        description: Название согласно технической документации (Uk)
      OriginalDescriptionEn:
        type: string
        description: Название согласно технической документации (En)
      SEODescriptionRu:
        type: string
        description: SEO описание товара (Ru)
      SEODescriptionEn:
        type: string
        description: SEO описание товара (En)
      SEODescriptionUk:
        type: string
        description: SEO описание товара (Uk)
      ShortAdditionalNameUk20:
        type: string
        description: >-
          Дополнительное наименование товара в краткой форме (20 символов),
          позволяющее определить его как единицу продажи. Указывается на
          ценниках и чеках (на украинском)
      ShortAdditionalNameRu60:
        type: string
        description: >-
          Дополнительное наименование товара в краткой форме (60 символов),
          позволяющее определить его как единицу продажи. Указывается на
          ценниках и чеках (на русском)
      ShortAdditionalNameUk60:
        type: string
        description: >-
          Дополнительное наименование товара в краткой форме (60 символов),
          позволяющее определить его как единицу продажи. Указывается на
          ценниках и чеках (на украинском)
      ShortAdditionalNameEn60:
        type: string
        description: >-
          Дополнительное наименование товара в краткой форме (60 символов),
          позволяющее определить его как единицу продажи. Указывается на
          ценниках и чеках (на английском)
      AdditionalTradeItemDescriptionRu:
        type: string
        description: Дополнительное описание/Состав (Ru)
      AdditionalTradeItemDescriptionUk:
        type: string
        description: Дополнительное описание/Состав (Uk)
      AdditionalTradeItemDescriptionEn:
        type: string
        description: Дополнительное описание/Состав (En)
      Brick:
        type: string
        description: >-
          Категория, к которой относится товар по своему функциональному
          назначению/Класс GS1
      FunctionalNameTextRu:
        type: string
        description: >-
          Категория, к которой относится товар по своему функциональному
          назначению (Ru)
      FunctionalNameTextUk:
        type: string
        description: >-
          Категория, к которой относится товар по своему функциональному
          назначению (Uk)
      FunctionalNameTextEn:
        type: string
        description: >-
          Категория, к которой относится товар по своему функциональному
          назначению (En)
      UkrZed:
        type: string
        description: Код УТК ВЭД
      DKPP:
        type: string
        description: Код ГКПУ
      UkrMonopoly:
        type: string
        description: Код Монополии
      UkrStatistics:
        type: string
        description: Код Статистики
      FirstOptAnnualReport:
        type: string
        description: >-
          Код для отчета по форме 1-опт "Отчет о продаже и запасах товаров
          (продукции) в оптовой торговле"
      FirstRtReport:
        type: string
        description: >-
          Код для отчета по форме №1-РТ "Отчет об объемах приобретения и
          реализации табачных изделий в розничной сети"
      IsAPrivateLabel:
        type: integer
        description: Товар собственная марка
      IsAConsumerUnit:
        type: integer
        description: Единица продажи
      IsTradeItemABaseUnit:
        type: integer
        description: Базовая единица
      IsAnOrderableUnit:
        type: integer
        description: Единица заказа
      IsADespatchUnit:
        type: integer
        description: Единица отгрузки
      IsOrderQuantityMinimumMultiples:
        type: integer
        description: Является ли минимальный заказ кратным
      IsAVariableUnit:
        type: integer
        description: Весовой товар
      IsUnitWithAverageValues:
        type: integer
        description: Товар со средними значениями
      EffectiveDate:
        type: string
        description: Вступление информации в силу
      PublicationDate:
        type: string
        description: Доступность для просмотра и синхронизации
      StartAvailabilityDateTime:
        type: string
        description: Первая разрешенная продажа поставщиком
      EndAvailabilityDateTime:
        type: string
        description: Дата окончания доступности товара
      ConsumerAvailabilityDateTime:
        type: string
        description: Начало продажи товара потребителю
      OrderQuantityMinimum:
        type: string
        description: >-
          Минимальное количество единиц товара, которое может быть заказано.
          Только для заказываемой единицы
      WidthValue:
        type: string
        description: Ширина
      WidthUoM:
        type: string
        description: Единица измерения длины по справочнику DimensionUnitOfMeasureCodeList
      DepthValue:
        type: string
        description: Длина/глубина
      DepthUoM:
        type: string
        description: Единица измерения длины по справочнику DimensionUnitOfMeasureCodeList
      HeightValue:
        type: string
        description: Высота
      HeightUoM:
        type: string
        description: Единица измерения длины по справочнику DimensionUnitOfMeasureCodeList
      NetWeightValue:
        type: string
        description: 'Вес, без упаковки'
      NetWeightUoM:
        type: string
        description: Единица веса по справочнику WeightUnitOfMeasureCodeList
      ToleranceMinValue:
        type: string
        description: Допустимое отклонение в весе в меньшую сторону
      ToleranceMinUoM:
        type: string
        description: Единица веса по справочнику WeightUnitOfMeasureCodeList
      ToleranceMaxValue:
        type: string
        description: Допустимое отклонение в весе в большую сторону
      ToleranceMaxUoM:
        type: string
        description: Единица веса по справочнику WeightUnitOfMeasureCodeList
      GrossWeightValue:
        type: string
        description: 'Вес, включая упаковку'
      GrossWeightUoM:
        type: string
        description: Единица веса по справочнику WeightUnitOfMeasureCodeList
      NetContentValue:
        type: string
        description: Чистое содержимое
      NetContentUoM:
        type: string
        description: Единица объема по справочнику ContentUnitOfMeasureCodeList
      DryMassOfMainProductValue:
        type: string
        description: Сухая масса основного продукта. Масса основного продукта без жидкости.
      DryMassOfMainProductUoM:
        type: string
        description: Единица веса по справочнику WeightUnitOfMeasureCodeList
      QuantityOfBaseUnit:
        type: integer
        description: 'Количество базовых единиц, содержащихся в данной упаковке'
      IsPackagingMarkedReturnable:
        type: integer
        description: Многоразовое использование
      PackagingType:
        type: string
        description: Тип упаковки
      PackagingMaterial:
        type: string
        description: Материал упаковки
      IsPriceOnPack:
        type: integer
        description: Указана ли цена на упаковке
      ChildGTIN:
        type: object
        description: >-
          Единица более низкого уровня, которая содержится в даной единице
          упаковки
        $ref: '#/definitions/Product'
      QuantityOfChild:
        type: string
        description: >-
          Количество единиц более низкого уровня, содержащихся в данной единице
          упаковки
      CountryOfOrigin:
        type: integer
        description: Страна производства
      CountryOfLastProcessing:
        type: integer
        description: 'Код страны, в которой товар проходил последнюю обработку'
      VATRate:
        type: integer
        description: 'Ставка НДС для Украины, (%)'
      VATRateRU:
        type: integer
        description: 'Ставка НДС для РФ, (%)'
      ManufacturerUcatId:
        type: string
        description: ID производителя товара
      ManufacturerGLN:
        type: string
        description: GLN производителя товара
      ManufacturerNameRu:
        type: string
        description: Наименование производителя товара (Ru)
      ManufacturerNameUk:
        type: string
        description: Наименование производителя товара (Uk)
      ManufacturerNameEn:
        type: string
        description: Наименование производителя товара (En)
      ManufacturingPlantGLN:
        type: string
        description: GLN места производства товара
      TargetMarketCountryCode:
        type: integer
        description: Рынок сбыта продукции
      TargetMarketSubDivisionCode:
        type: string
        description: Предполагаемый рынок сбыта продукции
      MinimumLifespanFromArrival:
        type: integer
        description: Срок хранения с момента поступления
      MinimumLifespanFromProduction:
        type: integer
        description: Срок годности
      MinimumLifespanFromProductionValue:
        type: string
        description: Срок годности
      MinimumLifespanFromProductionUoM:
        type: string
        description: Единица времени по справочнику TimeUnitOfMeasureCodeList
      StorageHandlingTemperatureMaximum:
        type: string
        description: Максимальная температура хранения
      StorageHandlingTemperatureMinimum:
        type: string
        description: Минимальная температура хранения
      OpenedTradeItemLifespanValue:
        type: string
        description: Максимальное количество дней хранения товара после открытия
      OpenedTradeItemLifespanUoM:
        type: string
        description: Единица времени по справочнику TimeUnitOfMeasureCodeList
      LifespanFromProductionGroup1Value:
        type: string
        description: Срок годности 1 (дни)
      MaximumStorageHandlingTemperatureGroup1:
        type: string
        description: Максимальная температура хранения для срока годности 1 (°C)
      MinimumStorageHandlingTemperatureGroup1:
        type: string
        description: Минимальная температура хранения для срока годности 1 (°C)
      LifespanFromProductionGroup2Value:
        type: string
        description: Срок годности 2 (дни)
      MaximumStorageHandlingTemperatureGroup2:
        type: string
        description: Максимальная температура хранения для срока годности 2 (°C)
      MinimumStorageHandlingTemperatureGroup2:
        type: string
        description: Минимальная температура хранения для срока годности 2 (°C)
      LifespanFromProductionGroup3Value:
        type: string
        description: Срок годности 3 (дни)
      MaximumStorageHandlingTemperatureGroup3:
        type: string
        description: Максимальная температура хранения для срока годности 3 (°C)
      MinimumStorageHandlingTemperatureGroup3:
        type: string
        description: Минимальная температура хранения для срока годности 3 (°C)
      LifespanFromProductionGroup4Value:
        type: string
        description: Срок годности 4 (дни)
      MaximumStorageHandlingTemperatureGroup4:
        type: string
        description: Максимальная температура хранения для срока годности 4 (°C)
      MinimumStorageHandlingTemperatureGroup4:
        type: string
        description: Минимальная температура хранения для срока годности 4 (°C)
      WarrantyPeriodValue:
        type: string
        description: Гарантийный срок годности
      WarrantyPeriodUoM:
        type: string
        description: Единица времени по справочнику TimeUnitOfMeasureCodeList
      DeliveryToMarketTemperatureMaximum:
        type: string
        description: >-
          Максимальная температура при транспортировке товара на место
          реализации
      DeliveryToMarketTemperatureMinimum:
        type: string
        description: Минимальная температура при транспортировке товара на место реализации
      ConsumerUsageStorageInstructionsRu:
        type: string
        description: Условия хранения (Ru)
      ConsumerUsageStorageInstructionsUk:
        type: string
        description: Условия хранения (Uk)
      ConsumerUsageStorageInstructionsEn:
        type: string
        description: Условия хранения (En)
      Wetness:
        type: string
        description: Влажность хранения
      CheeseFat:
        type: string
        description: Массовая доля жира
      GeneticallyModified:
        type: string
        description: Содержание ГМО
      CaloricValue:
        type: string
        description: Энергетическая ценность в 100 гр. продукта (ккал)
      Fats:
        type: string
        description: Количество жиров в 100 гр. продукта
      Carbs:
        type: string
        description: Количество углеводов в 100 гр. продукта
      Proteins:
        type: string
        description: Количество белков в 100 гр. продукта
      PercentageOfAlcohol:
        type: string
        description: 'Содержание спирта, &nbsp;&#37;'
      AlcoholClass:
        type: string
        description: Класс алкоголя
      DSTU:
        type: string
        description: Номер ДСТУ
      TU:
        type: string
        description: Номер ТУ
      GSTU:
        type: string
        description: Номер ГСТУ
      SOU:
        type: string
        description: Номер СОУ
      Sugar:
        type: string
        description: Количество сахара в 100 гр. продукта
      NonGTINPalletDepthValue:
        type: string
        description: Длина/глубина паллеты включая упаковку
      NonGTINPalletDepthUoM:
        type: string
        description: Единица измерения длины по справочнику DimensionUnitOfMeasureCodeList
      NonGTINPalletWidthValue:
        type: string
        description: 'Ширина паллеты, включая упаковку'
      NonGTINPalletWidthUoM:
        type: string
        description: Единица измерения длины по справочнику DimensionUnitOfMeasureCodeList
      NonGTINPalletHeightValue:
        type: string
        description: 'Высота паллеты, включая упаковку'
      NonGTINPalletHeightUoM:
        type: string
        description: Единица измерения длины по справочнику DimensionUnitOfMeasureCodeList
      NonGTINPalletLayerHeightValue:
        type: string
        description: Высота слоя паллеты
      NonGTINPalletLayerHeightUoM:
        type: string
        description: Единица измерения длины по справочнику DimensionUnitOfMeasureCodeList
      NonGTINPalletGrossWeightValue:
        type: string
        description: Общий вес паллеты с упаковкой
      NonGTINPalletGrossWeightUoM:
        type: string
        description: Единица веса по справочнику WeightUnitOfMeasureCodeList
      NonGTINPalletAdditionalWeightValue:
        type: string
        description: Вес дополнительного упаковочного материала для паллеты
      NonGTINPalletAdditionalWeightUoM:
        type: string
        description: Единица веса по справочнику WeightUnitOfMeasureCodeList
      NonGTINPalletLayerWeightValue:
        type: string
        description: Вес слоя паллеты
      NonGTINPalletType:
        type: string
        description: Тип паллеты
      QuantityOfTradeItemsPerPallet:
        type: string
        description: Количество единиц на паллете
      QuantityOfLayersPerPallet:
        type: string
        description: Количество слоев в паллете
      QuantityOfTradeItemsPerPalletLayer:
        type: string
        description: Количество единиц в слое
      NonGTINPalletTermsAndConditions:
        type: string
        description: Метод использования паллеты
      NonGTINPalletStackingFactor:
        type: string
        description: Коэффициент штабелируемости
      IsBasePriceDeclarationRelevant:
        type: integer
        description: Есть ли соответствующее объявление о базовой цене
      IsTradeItemSeasonal:
        type: integer
        description: Является ли предложение на товар сезонным
      UnitDescriptor:
        type: string
        description: Уровень иерархии упаковки товара
      PromotionalTypeCode:
        type: string
        description: Тип промо-упаковки
      NonPromotionalItem:
        type: string
        description: 'Штрих-код товара, который не является промо в упаковке'
      FreeQuantityOfProduct:
        type: string
        description: >-
          Заполняется в том случае если, промо на этот товар является скидка или
          дисконт, или какая то часть товара в подарок
      FreeQuantityOfProductUoM:
        type: string
        description: 'Единица измерения, связанная с бесплатной частью продукта'
      FreeQuantityOfNextLowerLevelTradeItem:
        type: string
        description: Общее количество предметов торговли в комбинированной промо-упаковке
      FreeQuantityOfNextLowerLevelTradeItemUoM:
        type: string
        description: 'Единица измерения, связанная с бесплатной частью продукта'
      hasImg:
        type: integer
        description: Есть ли фотографии к товару
      version:
        type: integer
      IsMeasured:
        type: integer
        description: Измерено на CubiScan
      TestedStatus:
        type: integer
      TypeOfProductPlacementInBox:
        type: integer
        description: Тип укладки товара в ящике
      OrientationTypeOnShelf:
        type: string
        description: >-
          Сторона размещения упаковки на полке относительно лицевой стороны
          базовой единицы товара по справочнику "Сторона размещения на полке"
      NumberOfBaseUnitsInPackagingInWidth:
        type: integer
        description: 'Количество базовых единиц товара в упаковке по ширине, шт'
      NumberOfBaseUnitsInPackagingInDepth:
        type: integer
        description: 'Количество базовых единиц товара в упаковке по длине/глубине, шт'
      NumberOfBaseUnitsInPackagingInHeight:
        type: integer
        description: 'Количество базовых единиц товара в упаковке по высоте, шт'
      PackagingPerforationType:
        type: integer
        description: Тип перфорации упаковки
      DistributorName:
        type: array
        description: Дистрибьютор
        items:
          $ref: '#/definitions/ClientDeliveryProviderNames'
      ImporterName:
        type: array
        description: Импортер
        items:
          $ref: '#/definitions/ClientDeliveryProviderNames'
      LogisticOperatorName:
        type: array
        description: Логистический оператор
        items:
          $ref: '#/definitions/ClientDeliveryProviderNames'
      ProductionCapacityAddressRu:
        type: string
        description: Адрес производственной мощности (Ru)
      ProductionCapacityAddressUk:
        type: string
        description: Адрес производственной мощности (Uk)
      ProductionCapacityAddressEn:
        type: string
        description: Адрес производственной мощности (En)
      VariantNumber:
        type: string
        description: Номер варианта
      VariantName:
        type: string
        description: Название варианта
      NonGTINPalletNetHeightValue:
        type: string
        description: 'Высота паллеты, не включая упаковку'
      NonGTINPalletNetHeightUoM:
        type: string
        description: Единица измерения длины по справочнику DimensionUnitOfMeasureCodeList
      NonGTINPalletNetWeightValue:
        type: string
        description: Общий вес паллеты без упаковки
      NonGTINPalletNetWeightUoM:
        type: string
        description: Единица веса по справочнику WeightUnitOfMeasureCodeList
      ProductStatus:
        type: string
        description: Признак ассортимента
      DateResetProductStatus:
        type: string
        description: Дата снятия признака ассортимента
      IsBlocked:
        type: integer
        description: Блокировка товара
      BlockingStartDate:
        type: string
        description: Дата начала блокировки товара
      BlockingEndDate:
        type: string
        description: Дата окончания блокировки товара
      DescriptionBlockingText:
        type: string
        description: Комментарий к блокировке
      IsDiabetic:
        type: integer
        description: Продукт диабетического питания
      ingredientValue1:
        type: string
        description: 'Значение ингредиента 1,&nbsp;%'
      ingredientValue2:
        type: string
        description: 'Значение ингредиента 2,&nbsp;%'
      ingredientValue3:
        type: string
        description: 'Значение ингредиента 3,&nbsp;%'
      ingredientValue4:
        type: string
        description: 'Значение ингредиента 4,&nbsp;%'
      ingredientValue5:
        type: string
        description: 'Значение ингредиента 5,&nbsp;%'
      ingredientValue6:
        type: string
        description: 'Значение ингредиента 6,&nbsp;%'
      ingredientValue7:
        type: string
        description: 'Значение ингредиента 7,&nbsp;%'
      ingredientValue8:
        type: string
        description: 'Значение ингредиента 8,&nbsp;%'
      Season:
        type: string
        description: Сезон
      Collection:
        type: string
        description: Коллекция
      Size:
        type: string
        description: Размер
      Color:
        type: string
        description: Цвет
      IsActual:
        type: integer
        description: Актуальность товара
      ActualityDate:
        type: string
        description: Дата подтверждения актуальности товара
      IsSample:
        type: integer
        description: Образец
      LastPhotoDate:
        type: string
        description: Дата и время обновления фотографии
      LastMeasurementDate:
        type: string
        description: Дата и время обновления замеров
      DescriptionProductRu:
        type: string
        description: Описание товара (Ru)
      DescriptionProductEn:
        type: string
        description: Описание товара (En)
      DescriptionProductUk:
        type: string
        description: Описание товара (Uk)
      Fragrance:
        type: string
        description: Аромат
      TypeProduct:
        type: string
        description: Вид продукции
      TypePollution:
        type: string
        description: Вид загрязнения
      TypeWash:
        type: string
        description: Вид стирки
      ApplicationTime:
        type: string
        description: Время применения
      Classification:
        type: string
        description: Классификация
      Density:
        type: string
        description: Плотность
      Gender:
        type: string
        description: Пол
      TypeUsing:
        type: string
        description: Применение
      SortingLaundry:
        type: string
        description: Сортировка белья
      TypeHair:
        type: string
        description: Тип волос
      TypeSurface:
        type: string
        description: Тип поверхности
      TypeSkin:
        type: string
        description: Тип кожи
      Age:
        type: string
        description: Возраст
      ChildWeight:
        type: string
        description: Вес ребенка
      HazardClass:
        type: string
        description: Класс опасности ООН
      CustomAttributeExists:
        type: string
        description: Данные для сети
  ProductImage:
    type: object
    properties:
      original:
        type: string
        description: >-
          Временная ссылка на оринигальное изобрежение товара в оригинальном
          разрешении
      600x600:
        type: string
        description: >-
          Постоянная ссылка на изображение с разрешением 600х600рх хотя бы по
          одной из сторон
      200x200:
        type: string
        description: >-
          Постоянная ссылка на изображение с разрешением 200х200рх хотя бы по
          одной из сторон
      50x50:
        type: string
        description: >-
          Постоянная ссылка на изображение с разрешением 50х50рх хотя бы по
          одной из сторон
      planograma:
        type: boolean
        description: 'Флаг, который показывает является ли изображение планограмой'
  Error:
    type: object
    properties:
      code:
        type: string
      error:
        type: string
  ErrorV2:
    type: object
    properties:
      success:
        type: boolean
        default: 'false'
      data:
        description: Информация
      message:
        type: string
  ClientActivityStatus:
    type: object
    properties:
      firstActivityDate:
        description: Дата первой активности
        type: string
      lastActivityDate:
        description: Дата последней активности
        type: string
      refusalDate:
        description: Дата отказа
        type: string
      name:
        type: string
      status:
        type: string
      email:
        description: Адрес электронной почты
        type: string
      comment:
        description: Комментарий
        type: string
      regNumber:
        type: string
        description: ОКПО/ЄДРПОУ
      tariffPlanName:
        type: string
        description: Название тарифного плана
      limitClientList:
        type: array
        items:
          type: object
          properties:
            gln:
              type: string
              description: GLN клиента
            name:
              type: string
              description: Название клиента
      tariffPlanEndDate:
        type: string
        description: Дата окончания тарифного плана
  ClientDeliveryProviderNames:
    type: object
    properties:
      nameRu:
        type: string
        description: Название Ru
      nameUk:
        type: string
        description: Название Uk
      nameEn:
        type: string
        description: Название En
